name: CI
on:
  push:
    branches:
    - master

permissions: 
  contents: write
  pull-requests: write
  issues: write
    
jobs:
  deploy-upm:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: NoTaskStudios/upmizer@v1
      with:
        package_root: "Assets/Package"
        upm_branch: "master"
        github_token: ${{ secrets.GITHUB_TOKEN }}
